body { font-family:verdana, ariel, sans-serif; font-size:10pt; margin:0px; background-color: #FF6F00; }
h1 { font-size:16pt; }
h2 { font-size:12pt; }
th, h1, h2 { font-weight:bold; }
.layout { border:1px solid #000000; padding:4px; margin-bottom:10px; background-color: #C0C0C0; }
.aub { color: #CC3300; font-weight: bold; }
.monospaced, .monoHighlight { font-family: "courier new", courier, monospace; }
.monospaced { font-size:10pt; }
.monoHighlight { font-weight:bold; font-size:12pt; }
.imageRight { float:right; margin:4px; }
.clearing { clear:both; }
.smallurl { font-size:7pt; }
.notes { color:#666666; font-size:8pt; }
#header { background-repeat: repeat-x; background-image: url(header.png);  color:#FFFFFF; border:1px solid #FF6F00; margin:10px; padding:10px; font-size:20pt; font-weight:bold; height:100px; }
#block_2 { background-repeat: repeat-y; background-position: left; }
#block_3 { background-repeat: repeat-y; background-position: right; }

